[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/krypc
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/krypc
	label-Verified = -1..+1 group user/krypc
	push = group user/krypc
	read = group user/krypc
	rebase = group user/krypc
	removeReviewer = group user/krypc
	submit = group user/krypc
[access "refs/heads/*"]
	create = group user/krypc
	push = +force group user/krypc
	pushMerge = group user/krypc
	read = group user/krypc
[access "refs/tags/*"]
	push = group user/krypc
	push = +force group user/krypc
